.mainDivResume {
  background-color: #eee;
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 20px;
}

.titleFormResume {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  font-size: 50px;
  border-radius: 25px;
  height: 200px;
  background-color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.formDataResume {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.baseProfile {
  padding-left: 40px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-family: "Kanit", sans-serif;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Prompt", sans-serif;
}
